// colors

$color-1: darkblue; // Bleached Cedar
$color-2: blue; // Minsk
$color-3: #ffffff; // White
$color-4: #9a9a9a; // Grey

// fonts 

$primary-font: 'Open Sans', sans-serif;

// tab-filter size

$tab-filter-height: 50px;